@model QueueSystemWeb.Models.user

@{
    ViewBag.Title = "EditProfile";
}
<div class="header-top-area">
    <div class="fixed-header-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1 col-md-6 col-sm-6 col-xs-12">
                    <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div class="admin-logo logo-wrap-pro">
                        <a href="#">
                            <img src="@Url.Content(" ~/Content/project/")img/logo/log.png" alt="" />
                        </a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-1 col-sm-1 col-xs-12">
                    <div class="header-top-menu tabl-d-n">
                        <ul class="nav navbar-nav mai-top-nav">

                            <li class="nav-item">
                                <a style="text-align:center;display:block;" onclick="seeAll()">كل الاشعارات</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                    <i class="fa fa-bell"></i>
                                    @if (@ViewBag.countUnseenNotis != 0)
                                    {
                                        <span style="background-color: red;color: white;font-size: 13px;position: absolute;top:10px;right: 10px;width:20px;height:20px;border-radius:100%;text-align:center;">@ViewBag.countUnseenNotis</span>
                                    }
                                </a>

                                <div role="menu" class="dropdown-menu animated flipInX" style="overflow-y:scroll; height:400px;width:400px;">
                                    @foreach (var x in ViewBag.allNotis)
                                    {
                                        if (x.seen == true)
                                        {
                                            <a class="dropdown-item" id="noti" onclick="showNoti(@x.Id)">

                                                @if (x.type_noti == "inquire")
                                                {
                                                    <p style="color:white;font-size:18px;">تم ارسال استعلام من العميل @x.user1.username </p>
                                                    <p style="color:lightgray;font-size:16px;">@x.dateTime</p>
                                                }
                                                else if (x.type_noti == "complaint")
                                                {
                                                    <p style="color:white;font-size:18px;">تم ارسال شكوى من العميل @x.user1.username </p>
                                                    <p style="color:lightgray;font-size:16px;">@x.dateTime</p>
                                                }
                                                else
                                                {
                                                    <p style="color:white;font-size:18px;">تم ارسال طلب من العميل @x.user1.username </p>
                                                    <p style="color:lightgray;font-size:16px;">@x.dateTime</p>
                                                }
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="dropdown-item" id="noti" onclick="showNoti(@x.Id)">
                                                @if (x.type_noti == "inquire")
                                                {
                                                    <p style="color:white;font-size:18px;">تم ارسال استعلام من العميل @x.user1.username </p>
                                                    <p style="color:lightgray;font-size:16px;">@x.dateTime</p>
                                                }
                                                else if (x.type_noti == "complaint")
                                                {
                                                    <p style="color:white;font-size:18px;">تم ارسال شكوى من العميل @x.user1.username </p>
                                                    <p style="color:lightgray;font-size:16px;">@x.dateTime</p>
                                                }
                                                else
                                                {
                                                    <p style="color:white;font-size:18px;">تم ارسال طلب من العميل @x.user1.username </p>
                                                    <p style="color:lightgray;font-size:16px;">@x.dateTime</p>
                                                }
                                                <span id="seen" style="background-color: dodgerblue;width:7px;height:7px;border-radius:100%;position: absolute;right:3px;"></span>
                                            </a>
                                        }

                                    }
                                    @*<div style="background-color:#ff8196;color:black;width:382px;border:groove;display:inline-block;">
                    <a style="text-align:center;display:block;" onclick="seeAll()">See All</a>
                </div>*@
                                </div>
                            </li>





                            <li class="nav-item">
                                <a href="/employee/CheckAttend" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                    <i class="fa fa-check"></i>
                                    <span class="mini-dn">مراجعه الحضور</span>
                                    <span class="indicator-right-menu mini-dn"></span>
                                </a>


                            </li>

                            <li class="nav-item dropdown">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                    <i class="fa big-icon fa-eye"></i> عرض <span class="angle-down-topmenu"><i class="fa fa-angle-down"></i></span>
                                </a>

                                <div role="menu" class="dropdown-menu animated flipInX">
                                    <a href="/employee/ReplayComplainOrInquire" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                        <i class="fa fa-comment login-user"></i>
                                        <span class="mini-dn">الرسائل</span>
                                        <span class="indicator-right-menu mini-dn"></span>
                                    </a>
                                    <a href="/employee/Showrequests" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                        <i class="fa fa-dropbox"></i>
                                        <span class="mini-dn">الطالبات</span>
                                        <span class="indicator-right-menu mini-dn"></span>
                                    </a>

                                    <a href="/employee/showblock" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                        <i class="fa fa-expeditedssl"></i>
                                        <span class="mini-dn">العملاء المحظورين</span>
                                        <span class="indicator-right-menu mini-dn"></span>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/employee/Reserve" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                    <i class="fa fa-ticket"></i>
                                    <span class="mini-dn">حجز</span>
                                    <span class="indicator-right-menu mini-dn"></span>
                                </a>
                            </li>



                            <li class="nav-item">
                                <a href="~/employee/Index" role="button" aria-expanded="false">
                                    <i class="fa big-icon fa-backward"></i>
                                    <span class="mini-dn">رجوع</span>
                                    <span class="indicator-right-menu mini-dn"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <div class="header-right-info">
                        <ul class="nav navbar-nav mai-top-nav header-right-menu">

                            <li class="nav-item">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                    <span class="adminpro-icon adminpro-user-rounded header-riht-inf"></span>


                                </a>
                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX">
                                    <li>
                                        <a href="/employee/index"><span class="adminpro-icon adminpro-user-rounded author-log-ic"></span>الصفحه الشخصيه</a>
                                    </li>
                                    <li>
                                        <a href="/Home/Logout" style="margin-left:20px"><span class="adminpro-icon adminpro-locked author-log-ic"></span>تسجيل الخروج</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@using (Html.BeginForm("EditProfile", "employee", FormMethod.Post, new { @id = "msform", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="login-form-area mg-t-30 mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3"></div>
                <form id="adminpro-register-form" class="adminpro-form">
                    <div class="col-lg-6">
                        <div class="login-bg" style="width:700px">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="logo">
                                        <a href="#">
                                            <img src="@Url.Content("~/Content/project/")img/logo/images2.jpg" alt="" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.id)
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="login-title">
                                        <h1>تعديل البايانات الشخصيه</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="login-input-head">
                                        <p>الاسم بالكامل</p>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="login-input-area">
                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @name = "name", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                           <i class="fa fa-user login-user" style="left: 90px;"></i>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="login-input-head">
                                        <p>اسم المستخدم</p>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="login-input-area">
                                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @name = "username", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                         <i class="fa fa-user login-user" style="left: 90px;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="login-input-head">
                                        <p>عنوان البريد</p>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="login-input-area">
                                        @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @name = "mail", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
                                         <i class="fa fa-envelope login-user" aria-hidden="true" style="left: 90px;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="login-input-head">
                                        <p>كلمه السر</p>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="login-input-area">
                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @name = "password", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                         <i class="fa fa-lock login-user" style="left: 90px;"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="login-input-head">
                                        <p>رقم التلفون</p>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="login-input-area">
                                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @name = "phone", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                                          <i class="fa fa-phone login-user" aria-hidden="true" style="left:90px;"></i>
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-8">
                                    <div class="login-button-pro">

                                        <button type="button" id="save" class="login-button login-button-rg" style="float:right"><i class="fa big-icon fa fa-pencil"></i>  تعديل</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {

            //reserve
            $("#save").click(function () {
                myData = $("#msform").serialize();
                $.ajax({
                    type: "POST",
                    url: "/employee/EditProfile",
                    data: myData,
                    success: function (response) {
                        $("#msform").empty();
                        if (response.result == 0) {
                            alert("اسم المستخدم موجود بالفعل يرجى استخدام اسم اخر");
                            document.location.reload(true);
                            window.location.href = "EditProfile";
                        }
                        else if (response.result == 1) {
                            alert("تم تعديل البيانات");
                            document.location.reload(true);
                            window.location.href = "index";
                        }
                        else {
                            alert("البيانات المدخلة خطأ");
                            document.location.reload(true);
                            window.location.href = "EditProfile";
                        }

                    }

                })

            })

        })

        showNoti(n);
        function showNoti(n) {
            document.location.reload(true);
            window.location.href = "ShowNotiReferece?noti_id=" + n;
        }

        function seeAll() {
            document.location.reload(true);
            window.location.href = "Get_All_Notification";
        }
    </script>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>