@model QueueSystemWeb.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
}

<div class="header-top-area">
    <div class="fixed-header-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1 col-md-6 col-sm-6 col-xs-12">
                    <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <div class="col-lg-6 col-md-1 col-sm-1 col-xs-12">
                    <div class="header-top-menu tabl-d-n">
                        <ul class="nav navbar-nav mai-top-nav">

                            <li class="nav-item">
                                <a href="#" role="button" aria-expanded="false">

                                    <span class="mini-dn" style="font-weight:bold; font-size:large">مرحبا بكم في الموقع</span>

                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Home/Login" role="button" aria-expanded="false" style="margin-left:100px">
                                    <i class="fa big-icon fa-lock"></i>
                                    <span class="mini-dn">تسجل الدخول</span>
                                    <span class="indicator-right-menu mini-dn"></span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="login-form-area mg-t-30 mg-b-40" style="width:1200px;margin-left:300px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4"></div>
            @using (Html.BeginForm())
           {
                 @Html.AntiForgeryToken()
            <div class="text-danger">
                @ViewBag.Message
            </div>
              @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-lg-4">
                    <div class="login-bg">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="logo">
                                    <a href="#">
                                        <img src="@Url.Content("~/Content/project/")img/logo/images2.jpg" alt="" />
                                    </a>
                                </div>
                            </div>
                        </div>
                      <div class="row">
                        <div class="col-lg-12">
                            <div class="login-title">
                                <h1>استرجاع كلمه السر</h1>
                            </div>
                        </div>
                     </div>
                    
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="login-input-head">
                                    <p>كلمه السر</p>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="login-input-area">
                                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                    <i class="fa fa-lock login-user" style="left: 50px;"></i>
                                </div>
                            </div>
                        </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="login-input-head">
                                            <p>تاكيد كلمه السر</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="login-input-area">
                                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                            <i class="fa fa-lock login-user" style="left: 50px;"></i>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="row">
                                    <div class="col-lg-4">
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="login-button-pro">
                                            <input type="submit" value="تم" class="btn btn-default" />
                                            @* <button type="submit" class="login-button login-button-lg" style="float:right">تم</button>*@
                                        </div>
                                    </div>
                                </div>
                        <div class="col-lg-8">
                            <div class="login-input-area">
                                @Html.HiddenFor(a => a.ResetCode)
                            </div>
                        </div>
                    
          </div>
         </div>
}
       <div class="col-lg-4"></div>
    </div>
  </div>
 </div>



@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

}
