
@{
    ViewBag.Title = "AdminReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="header-top-area">
    <div class="fixed-header-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1 col-md-6 col-sm-6 col-xs-12">
                    <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                        <i class="fa fa-bars"></i>
                    </button>

                </div>
                <div class="col-lg-6 col-md-1 col-sm-1 col-xs-12">
                    <div class="header-top-menu tabl-d-n">
                        <ul class="nav navbar-nav mai-top-nav">

                            <li class="nav-item">
                                <a href="~/admin/Addmanger" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                    <i class="fa big-icon fa-flask"></i>
                                    <span class="mini-dn">اضافه منظمه</span>
                                    <span class="indicator-right-menu mini-dn"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/admin/AddMangerForEditOrg" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                    <i class="fa big-icon fa-flask"></i>
                                    <span class="mini-dn">اضافه مدير</span>
                                    <span class="indicator-right-menu mini-dn"></span>
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                    عرض <span class="angle-down-topmenu"><i class="fa fa-angle-down"></i></span>
                                </a>

                                <div role="menu" class="dropdown-menu animated flipInX">
                                    <a href="~/admin/ShowmanBlocked" class="dropdown-item">المديرين المحظورين</a>
                                    <a href="~/admin/ShowmanunBlocked" class="dropdown-item">المديرين الغير المحظورين</a>
                                    <a href="~/admin/showorg" class="dropdown-item">المنظمات</a>


                                </div>
                            </li>
                      

                            <li class="nav-item">
                                <a href="~/admin/EditProfile" role="button" aria-expanded="false">
                                    <i class="fa big-icon fa-edit"></i>
                                    <span class="mini-dn">تعديل الصفحه</span>
                                    <span class="indicator-right-menu mini-dn"></span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="~/admin/Index" role="button" aria-expanded="false">
                                    <i class="fa big-icon fa-backward"></i>
                                    <span class="mini-dn">رجوع</span>
                                    <span class="indicator-right-menu mini-dn"></span>
                                </a>
                            </li>
                        </ul>
                      
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    <div class="header-right-info">
                        <ul class="nav navbar-nav mai-top-nav header-right-menu">

                            <li class="nav-item">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                    <span class="adminpro-icon adminpro-user-rounded header-riht-inf"></span>


                                </a>
                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX">
                                    <li>
                                        <a href="~/employee/Index"><span class="adminpro-icon adminpro-user-rounded author-log-ic"></span>الصفحه الشخصيه</a>
                                    </li>
                                    <li>
                                        <a href="/Home/Logout" style="margin-left:20px"><span class="adminpro-icon adminpro-locked author-log-ic"></span>تسجيل الخروج</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start section stats -->
<section class="statistics text-center">
    <div class="data">
        <div class="container">
            <h1>الاحصائيات والتقارير لدينا</h1>
            <div class="row">

                <div class="col-md-3 col-sm-6">
                    <div class="stats wow zoomInDown" data-wow-duration="1s" data-wow-offset="20" data-wow-delay="0.5s">
                        <i class="fa fa-comments fa-4x"></i>
                        <p>@ViewBag.orgs.Count</p>
                        <span>المنظامات</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="stats wow zoomInDown" data-wow-duration="1s" data-wow-offset="20" data-wow-delay="1s">
                        <i class="fa fa-suitcase fa-4x"></i>
                        <p>@ViewBag.emps</p>
                        <span>جميع الموظفين</span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="stats wow zoomInDown" data-wow-duration="1s" data-wow-offset="20">
                        <i class="fa fa-users fa-4x"></i>
                        <p>@ViewBag.allClients</p>
                        <span>جميع العملاء</span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="stats wow zoomInDown" data-wow-duration="1s" data-wow-offset="20" data-wow-delay="1.5s">
                        <i class="fa fa-expeditedssl fa-4x"></i>
                        <p>@ViewBag.blockedClients</p>
                        <span>العملاء المحظورين</span>
                    </div>
                </div>
  
            </div>
        </div>
    </div>
</section>
<!-- end section stats -->
@*
    <div class="data-table-area mg-b-15"  style="margin-right:100px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sparkline13-list shadow-reset">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>تقارير <span class="table-project-n"></span> </h1>
                                <div class="sparkline13-outline-icon">
                                    <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                    <span><i class="fa fa-wrench"></i></span>
                                    <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <div id="toolbar">
                                    <select class="form-control">
                                        <option value="">Export Basic</option>
                                        <option value="all">Export All</option>
                                        <option value="selected">Export Selected</option>
                                    </select>
                                </div>

                                <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                    <thead>
                                        <tr>
                                            <th data-field="state" data-checkbox="true"></th>
                                            <th data-field="id">هويه</th>
                                            <th data-field="Organization" data-editable="true">منظمه</th>
                                            <th data-field="Manager" data-editable="true">مدير</th>
                                            <th data-field="Branches" data-editable="true">الفروع</th>
                                            <th data-field="Numbranches" data-editable="true">عدد الفروع</th>
                                            <th data-field="Feedback">تقيم</th>
                                            <th data-field="Numnclients" data-editable="true">عدد العملاء</th>
                                            <th data-field="Action">الحدث</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < ViewBag.orgs.Count; i++)
                                        {
                                            <tr>
                                                <td></td>
                                                <td>@ViewBag.orgs[i].id</td>
                                                <td>@ViewBag.orgs[i].name</td>
                                                <td>@ViewBag.orgs[i].user.username</td>

                                                <td class="datatable-ct">
                                                    <span class="pie">
                                                        <select>
                                                            @foreach (var x in ViewBag.org_branches[i])
                                                            {
                                                                <option>@x.branch_location</option>
                                                            }
                                                        </select>
                                                    </span>
                                                </td>
                                                <td>@ViewBag.count_branches[i]</td>
                                                <td class="datatable-ct">
                                                        <span class="pie">
                                                            <select>
                                                                @foreach (var x in ViewBag.org_feedback[i])
                                                                {
                                                                    <option>@x.msg</option>
                                                                }
                                                            </select>
                                                        </span>
                                                </td>
                                                <td>@ViewBag.org_apps[i].Count</td>
                                                <td class="datatable-ct">
                                                    <i class="fa fa-check"></i>
                                                </td>
                                            </tr>
                                        }



                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
*@

<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>التقارير</h1>
                            <div class="sparkline13-outline-icon">
                                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <select class="form-control">
                                    <option value="">Export Basic</option>
                                    <option value="all">Export All</option>
                                    <option value="selected">Export Selected</option>
                                </select>
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="id">هويه</th>
                                        <th data-field="Organization" data-editable="true">منظمه</th>
                                        <th data-field="Manager" data-editable="true">مدير</th>
                                        <th data-field="Branches" data-editable="true">الفروع</th>
                                        <th data-field="Numbranches" data-editable="true">عدد الفروع</th>
                                        <th data-field="Feedback">تقيم</th>
                                        <th data-field="Numnclients" data-editable="true">عدد العملاء</th>
                                        <th data-field="Action">الحدث</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < ViewBag.orgs.Count; i++)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>@ViewBag.orgs[i].id</td>
                                            <td>@ViewBag.orgs[i].name</td>
                                            <td>@ViewBag.orgs[i].user.username</td>

                                            <td class="datatable-ct">
                                                <span class="pie">
                                                    <select>
                                                        @foreach (var x in ViewBag.org_branches[i])
                                                        {
                                                            <option>@x.branch_location</option>
                                                        }
                                                    </select>
                                                </span>
                                            </td>
                                            <td>@ViewBag.count_branches[i]</td>
                                            <td class="datatable-ct">
                                                <span class="pie">
                                                    <select>
                                                        @foreach (var x in ViewBag.org_feedback[i])
                                                        {
                                                            <option>@x.msg</option>
                                                        }
                                                    </select>
                                                </span>
                                            </td>
                                            <td>@ViewBag.org_apps[i].Count</td>
                                            <td class="datatable-ct">
                                                <i class="fa fa-check"></i>
                                            </td>
                                        </tr>
                                    }



                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>